.category{
    border: solid red;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;

}

.title{
    border: solid green;
    grid-column: span 2;
    grid-row: 1;
}

.block1{
    border: solid blue;
    grid-column: 1;
    grid-row: 2;
}

.block2{
    border: solid purple;
    grid-column: 2;
    grid-row: 2;
}

.footer{
    border: solid black;
    grid-column: span 2;
    grid-row: 4;
}