<main class="category">
	{{#each Cats}}
	<div class="subCategory">
<a class="noUnderline" href="/{{_id}}">{{name}}</a>
<img class="picture" src="{{this.photo_url}}">
</div>
	{{/each}}
	
<br/>
</main>
	<a href="/new">
		<button class="button1">Create A Category</button>
	</a>

