{{Cat.name}}
 
let Cat = {
    name: "event",
    _id: 34279877293865
    photographers: [{name: "Jose",
                    contact: 678.615.1482,
                    city: "atlanta",
                    _id: 37528975,
                    about: "I love street photography, taking pictures
                    in Atlanta can show someones talent in the background!"}, 

                    {name: "Sam",
                    contact: 770.535.1834,
                    city: "Dunwoody",
                    _id: 37528975,
                    about: My favorite part of my job 
                    is when im able to send off my clients work and get 
                    positive comments!}

                    {name: "Charles",
                    contact: 770.152.1387,
                    city: "Sandy Springs"
                    _id: 37528975,
                    about: "Since a kid, I loved taking 
                    pictures of just about anything, and still do!"},]                  
}

<form action="/{{Cat._id}}?_method=DELETE" method="POST">
    <button type="submit">Delete Category</button>
</form>