{{Cat.name}}
 
let Cat = {
    name: "event",
    _id: 34279877293865
    photographers: [{name: "sam",
                    contact: 7705551234,
                    city: "atlanta",
                    _id: 37528975,
                    about: "im cool and love photoagrahy"}, 

                    {name: "sam",
                    contact: 7705551234,
                    city: "atlanta",
                    _id: 37528975,}

                    {name: "sam",
                    contact: 7705551234,
                    city: "atlanta"
                    _id: 37528975,
                    about: "im cool and love photoagrahy"},]                  
}

<form action="/{{Cat._id}}?_method=DELETE" method="POST">
    <button type="submit">Delete Category</button>
</form>